@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	background-color: #1F2544;
	font-family: 'Montserrat', sans-serif;
    height: 100%;
}

footer {
    bottom: 0;
    width: 100%;
    padding-top: 12px;
    height: 50px;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
}

td {
    color: white;
    padding: 10px;
    text-align: center; 
}

table {
    margin-right: 10%;
}